block masterParams

mixin subpageHero(header, subhead)
  .row.py-5.d-flex.align-items-center.subpageHero
    .col-md-6.mb-3
      h1.h1-white=header
    .col-md-6
      p.lead-black=subhead

doctype html
html
  - if (isMezzanine)
    | {% load settings_value %}
  head
    meta(charset=`utf-8`)

    meta(name=`viewport`, content=`width=device-width, initial-scale=1`)
    meta(name=`description`, content=`Mozilla is fueling a movement for a healthy Internet. See how a network of dedicated leaders and activists are working for a better Internet for all, connecting us to each other and to a better future.`)

    meta(property=`og:type`, content=`website`)
    meta(property=`og:site_name`, content=`${strings.MLN}`)
    meta(property=`og:locale`, content=`en_US`)
    meta(property=`og:url`, content=`https://foundation.mozilla.org${target}`)
    meta(property=`og:title`, content=`${strings.MLN} – ${pageTitle}`)
    meta(property=`og:image`, content=`https://foundation.mozilla.org/_images/og.jpg`)

    link(rel=`stylesheet`, href!=`${baseURL || `/`}_css/main.compiled.css`)
    link(rel=`stylesheet`, href=`//code.cdn.mozilla.net/fonts/fira.css`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Nunito+Sans:400,600,300,700`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Zilla+Slab:300,400`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Open+Sans:400,700`)
    link(rel=`apple-touch-icon` type=`image/png` sizes=`180x180` href!=`${baseURL || `/`}_images/favicons/apple-touch-icon-180x180@2x.png`)
    link(rel=`icon` type=`image/png` sizes=`196x196` href!=`${baseURL || `/`}_images/favicons/favicon-196x196@2x.png`)
    link(rel=`shortcut icon` href!=`${baseURL || `/`}_images/favicons/favicon.ico`)

    title=`${strings.MLN} – ${pageTitle}`

  body(id=`view-${templateID}`)
    .takeover
    #primary-nav
    .wrapper
      #member-notice
        block memberNotice
      .sticky-top
        .wrapper-join-us
          .container
            #join-us.join-us
        .wrapper-burger
          .container
            .row
              .col.py-4
                .d-flex.flex-row.justify-content-between.align-items-center
                  div.d-flex.align-items-center
                    a.logo.text-hide(href=`/`) Mozilla Network
                    .nav-links.hidden-sm-down
                      a(class=`nav-link-people`, href=`/people`) People
                      a(class=`nav-link-get-involved`, href=`/get-involved`) Get&nbsp;Involved
                      a(class=`nav-link-projects`, href=`/projects`) Projects
                      a(class=`nav-link-upcoming`, href=`/programs/upcoming`) Upcoming
                      a(class=`nav-link-about`, href=`/about`) About
                  div.d-flex.align-items-center
                    button#burger.hidden-md-up
      .wrapper-2
        #hero
          .container
            block heroGuts

      block content

      footer.mofo-footer
        .container
          ul.list-unstyled.footer-links.row.justify-content-center
            li.col-auto
              a(href="mailto:network@mozillafoundation.org" class="footer-link-email") Email
            li.col-auto
              a(href="https://twitter.com/mozilla" class="footer-link-twitter") Twitter
            li.col-auto
              a(href="https://www.facebook.com/mozilla" class="footer-link-facebook") Facebook
            li.col-auto
              a(href="https://creativecommons.org/licenses/by/4.0" class="footer-link-cc-license") License
            li.col-auto
              a(href="https://www.mozilla.org/about/governance/policies/participation/" class="footer-link-code-of-conduct") Participation Guidelines
            li.col-auto
              a(href="https://mozilla.org/en-US/about/legal/" class="footer-link-legal") Legal
            li.col-auto
              a(href="https://mozilla.org/en-US/privacy/websites/" class="footer-link-privacy") Privacy
            li.col-auto
              a(href="https://donate.mozilla.org" class="footer-link-donate") Donate
          .org-info.mozilla
            div.logo-container
              a.logo(href="https://mozilla.org")
            p Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at #[a(href="https://mozilla.org") mozilla.org].

script(src!=`${baseURL || `/`}_js/main.compiled.js`)

//- Leaving this disabled for now to enable a stricter CSP
//- script(src=`https://cdn.optimizely.com/js/206878104.js`)
