doctype html
html
  head
    meta(charset=`utf-8`)

    meta(name=`viewport`, content=`width=device-width, initial-scale=1`)
    meta(name=`description`, content=`TODO`)

    meta(property=`og:type`, content=`website`)
    meta(property=`og:site_name`, content=`TODO`)
    meta(property=`og:locale`, content=`en_US`)
    meta(property=`og:url`, content=`TODO`)
    meta(property=`og:image`, content=`TODO`)
    meta(property=`og:title`, content=`TODO`)
    meta(property=`og:description`, content=`TODO`)

    link(rel=`stylesheet`, href=`${env.virtualRoot}_css/main.compiled.css`)
    link(rel=`stylesheet`, href=`//code.cdn.mozilla.net/fonts/fira.css`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Nunito+Sans`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Arvo`)
    link(rel=`icon`, href=`${env.virtualRoot}_images/favicon.png`)

    title=strings.MLN
  body(id=`view-${templateID}`)
    .container: #join-us

    #primary-nav

    block content

    footer.mofo-footer
      .container
        ul.list-unstyled.footer-links.row.justify-content-center
          li.col-auto
            a(href="#" class="footer-link-email") Email
          li.col-auto
            a(href="#" class="footer-link-twitter") Twitter
          li.col-auto
            a(href="#" class="footer-link-facebook") Facebook
          li.col-auto
            a(href="#" class="footer-link-cc-license") License
          li.col-auto
            a(href="#" class="footer-link-code-of-conduct") Code of Conduct
          li.col-auto
            a(href="#" class="footer-link-legal") Legal
          li.col-auto
            a(href="#" class="footer-link-privacy") Privacy
          li.col-auto
            a(href="#" class="footer-link-donate") Donate
        .org-info.mozilla
          div.logo-container
            a.logo(href="https://mozilla.org")
          p Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at #[a(href="https://mozilla.org") mozilla.org].

    script(src=`${env.virtualRoot}_js/main.compiled.js`)
