block masterParams

mixin subpageHero(header, subhead)
  .row.py-5.d-flex.align-items-center.subpageHero.justify-content-center
    .col-md-6.col-lg-5.pr-5
      h1.h1-white=header
    .col-md-6.col-lg-5
      p.lead-white=subhead

doctype html
html
  - if (isMezzanine)
    | {% load settings_value %}
  head
    meta(charset=`utf-8`)

    meta(name=`viewport`, content=`width=device-width, initial-scale=1`)
    meta(name=`description`, content=`TODO`)

    meta(property=`og:type`, content=`website`)
    meta(property=`og:site_name`, content=`TODO`)
    meta(property=`og:locale`, content=`en_US`)
    meta(property=`og:url`, content=`TODO`)
    meta(property=`og:image`, content=`TODO`)
    meta(property=`og:title`, content=`TODO`)
    meta(property=`og:description`, content=`TODO`)

    link(rel=`stylesheet`, href!=`${baseURL || env.virtualRoot}_css/main.compiled.css`)
    link(rel=`stylesheet`, href=`//code.cdn.mozilla.net/fonts/fira.css`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Nunito+Sans:400,600,300i`)
    link(rel=`stylesheet`, href=`//fonts.googleapis.com/css?family=Arvo`)
    link(rel=`apple-touch-icon` type=`image/png` sizes=`180x180` href!=`${baseURL || env.virtualRoot}_images/favicons/apple-touch-icon-180x180.png`)
    link(rel=`icon` type=`image/png` sizes=`196x196` href!=`${baseURL || env.virtualRoot}_images/favicons/favicon-196x196.png`)
    link(rel=`shortcut icon` href!=`${baseURL || env.virtualRoot}_images/favicons/favicon.ico`)

    title=strings.MLN

  body(id=`view-${templateID}`)
    #primary-nav
    .wrapper
      #member-notice Welcome to our member preview. We look forward to your #[a(href=`https://mzl.la/2ohCL8O`) feedback].
      .sticky-top
        .wrapper-join-us
          .container
            #join-us.join-us
        .wrapper-burger
          .container
            .row
              .col.p-4
                .d-flex.flex-row.justify-content-between.align-items-center
                  div.d-flex.align-items-center
                    button#burger
                    a.logo.text-hide(href=`${env.virtualRoot}`) Mozilla Network
                  .center-nav-title.hidden-xs-down
                    block centerNav
                  a.btn.btn-normal(href="/sign-up") Sign Up
      #hero
        .container
          block heroGuts

      block content

      footer.mofo-footer
        .container
          ul.list-unstyled.footer-links.row.justify-content-center
            //- li.col-auto
            //-   a(href="https://desk.com" class="footer-link-email") Email
            li.col-auto
              a(href="https://twitter.com/mozilla" class="footer-link-twitter") Twitter
            li.col-auto
              a(href="https://www.facebook.com/mozilla" class="footer-link-facebook") Facebook
            li.col-auto
              a(href="https://creativecommons.org/licenses/by/4.0" class="footer-link-cc-license") License
            //- li.col-auto
            //-   a(href="#" class="footer-link-code-of-conduct") Code of Conduct
            li.col-auto
              a(href="https://mozilla.org/en-US/about/legal/" class="footer-link-legal") Legal
            li.col-auto
              a(href="https://mozilla.org/en-US/privacy/websites/" class="footer-link-privacy") Privacy
            li.col-auto
              a(href="https://donate.mozilla.org" class="footer-link-donate") Donate
          .org-info.mozilla
            div.logo-container
              a.logo(href="https://mozilla.org")
            p Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at #[a(href="https://mozilla.org") mozilla.org].

script(src!=`${baseURL || env.virtualRoot}_js/main.compiled.js`)
script(src=`https://cdn.optimizely.com/js/206878104.js`)
script.
  (function () {
    var _dntStatus = navigator.doNotTrack || navigator.msDoNotTrack;
    var fxMatch = navigator.userAgent.match(/Firefox\/(\d+)/);
    var ie10Match = navigator.userAgent.match(/MSIE 10/i);
    var w8Match = navigator.appVersion.match(/Windows NT 6.2/);

    if (fxMatch && Number(fxMatch[1]) < 32) {
      _dntStatus = 'Unspecified';
    } else if (ie10Match && w8Match) {
      _dntStatus = 'Unspecified';
    } else {
      _dntStatus = { '0': 'Disabled', '1': 'Enabled' }[_dntStatus] || 'Unspecified';
    }

    if (_dntStatus !== 'Enabled'){
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87658599-6', 'auto');
      ga('send', 'pageview');
    }
  })();
