extends ../templates/master.pug

include ../partials/pulse-projects.pug

mixin newsItem(source, title, url, date, glyph, author)
  .news-item
    .d-flex.align-items-center.mb-3
      img.mr-2(src=`${env.virtualRoot}_images/news-icons/${glyph}`)
      p.h6-gray.mb-0=source
    h5
      a.h4-medium-black(href=`${url}`)=title
    if author
      p.italic-black by #{author}
    p.small-gray=date

block heroGuts
  .row
    .col.p-4
      .mb-4: h1.h1-home-white We Are Champions#[br] of a Healthy Internet
      p.lead-black A global network dedicated to inclusion, innovation and opportunity online.

block content
  .container
    .row.mx-2.mb-5.cta.cta-network
      .col-xs-12.col-md-5.px-4.py-5.cta-box
        h3.h4-light-black Diverse Members, One Mission
        p.body-black Meet and connect with Network members.
        a.btn.btn-ghost(href=`${env.virtualRoot}people`) Member Spotlight

    .row.mx-2.mb-5.cta.cta-projects
      .col-xs-12.col-md-5.px-4.py-5.cta-box
        h3.h4-light-black Network Projects
        p.body-black Discover and contribute to exciting projects made by and for our Network.
        a.btn.btn-ghost(href=`${env.virtualRoot}projects`) See Projects

    .row
      .col.my-5
        h4.h2-headings-white Latest News

    .row.mb-5
      .col-md-6.mb-3.d-flex
        .p-5.news-item-featured
          +newsItem(`CNBC`, `Mozilla's art installation warns about how companies are using your data`, `http://www.cnbc.com/2016/12/13/mozillas-the-glass-room-warns-about-how-companies-are-using-your-data.html`, `December 2016`, `cnbc.svg`)
          p.body-black Most of us assume no one cares about what we look at on our devices, but the data is being used to create a picture of who we are and where we went — and, for the most part, it's completely legal.
      .col-md-6
        .pb-4
          +newsItem(`The New Statesman`, `The Rise of Digital Empires`, `http://bit.ly/2bGMj65`, `September 2016`, `ns.png`)
          hr
          +newsItem(`Mozilla Internet Citizen`, `Living Inside the Computer: Building Responsible IoT`, `https://medium.com/mozilla-internet-citizen/living-inside-the-computer-mozilla-is-calling-for-responsible-iot-6cd57b146705#.kn8oxu4dc`, `January 2017`, `medium.svg`)
          hr
          +newsItem(`Read, Write, Participate`, `Teaching the Web, with Art as Curriculum`, `https://medium.com/read-write-participate/teaching-the-web-with-art-as-curriculum-c1d1c86fb12a#.mkjyfv8w0`, `December 2016`, `medium.svg`)

    .row
      .col.text-center.mb-5
        a.btn.btn-ghost(href=`${env.virtualRoot}news`) View more news

    .row
      .mb-5: h4.h2-headings-white Get Involved

    .row.py-5
      .col-xs-12.col-md-6.mb-5
        .home-ihp
          .wrapper.p-4
            h5.h4-light-black The Internet Health Report
            p.body-black Mozilla’s Internet Health Report is an open source initiative that combines research from multiple sources to document what’s healthy and unhealthy.
            a.cta-link(href=`${env.virtualRoot}opportunity/internet-health-report`) Read and contribute
      .col-md-6
        h4.h4-light-black Other Opportunities
        h5.h5-black Fellowships that Empower Leaders
        p.body-black We provide funding and exciting project-based opportunities to professionals doing game-changing work at the intersection of media, science, security, advocacy, and technology.
        a.cta-link(href=`${env.virtualRoot}opportunity/fellowships`) Be a fellow
        hr
        h5.h5-black Leadership Training for Collaboration
        p.body-black Learn the basics of participation, collaboration, and sharing on community-driven projects. Discover what working open can do for your project.
        a.cta-link(href=`${env.virtualRoot}opportunity/training`) Be a leader

    .join-us
