extends ../templates/master.pug

include ../partials/pulse-projects.pug

mixin newsItem(source, title, author, date)
  p.h6-gray=source
  h5.h4-medium-black=title
  p.italic-black by #{author}
  p.small-gray=date

block heroGuts
  .row
    .col.p-4
      .mb-4: h1.h1-home-white We Are Champions#[br] of a Healthy Internet
      p.lead-black The Mozilla Networks brings together diverse leaders of all types. Join its ranks.

block content
  .container
    .join-us
    .row.py-5
      .col-4
        p.h6-gray Fellowships
        h3.h4-light-black
          a(href=`${env.virtualRoot}programs/fellowships`) Fellowships That Empower People
      .col-4
        p.h6-gray Training
        h3.h4-light-black
          a(href=`${env.virtualRoot}TODO`) Leadership Training for Open Source
      .col-4
        p.h6-gray Internet Health Report
        h3.h4-light-black
          a(href=`${env.virtualRoot}TODO`) Read and Expand the Internet Health Report

    .row
      .col.my-5
        h4.h2-headings-white Latest News

    .row.mb-5
      .col-6.p-5(style=`background: #195359`)
      .col-6
        .pb-4
          +newsItem(`Mozilla's Read, Write, Participate`, `Living Inside the Computer: Building Responsible IoT`, `Mark Surman`, `January 2017`)
          hr
          +newsItem(`Mozilla's Read, Write, Participate`, `Living Inside the Computer: Building Responsible IoT`, `Mark Surman`, `January 2017`)
          hr
          +newsItem(`Mozilla's Read, Write, Participate`, `Living Inside the Computer: Building Responsible IoT`, `Mark Surman`, `January 2017`)

    .row.mb-5
      .col.text-center
        a.btn.btn-ghost(href=`${env.virtualRoot}news`) View more news

    .row
      .col.my-5
        .mb-5: h4.h2-headings-white Network Creations
        p.h4-light-black.text-center The latest tools, apps, and ideas from our network

    +projects(data.pulse.results.slice(0,6), false)

    .row.mb-5
      .col.text-center
        a.btn.btn-ghost(href=`${env.virtualRoot}projects`) View more projects
