extends ../templates/master.pug

block centerNav
  p Support

block heroGuts
  +subpageHero(`Fellowships, Trainings, and More`, `A variety of programs to support network members. Fellowships empowering civic technologists. Trainings to build leadership capacity. Grants supporting web literacy.`)

block content
  .container.py-5
    .row.mb-5
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/event.jpg`)
      .col-md-6
        h2.h3-black Events
        p Network events include hackathons, global sprints, Twitter chats and the annual MozFest in London.
        ul
          li.mb-3: a.cta-link(href=`https://mozillafestival.org/`) Mozilla Festival
          li.mb-3: a.cta-link(href=`https://science.mozilla.org/programs/events/global-sprint-2017`) Global Sprints
          li.mb-3: a.cta-link(href=`${env.virtualRoot}programs/upcoming/`) See upcoming events

    .row.mb-5
      .col-md-6
        h2.h3-black Training
        p Our trainings help members work open, hone leadership skills and level up careers.
        ul
          li.mb-3: a.cta-link(href=`https://mozilla.github.io/leadership-training/`) Open leadership training
          li.mb-3: a.cta-link(href=`https://mozilla.teachable.com/p/open-leadership-101`) Open Leadership 101
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/en-US/activities`) Web literacy activities
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/training.jpg`)

    .row.mb-5
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/fellowship.jpg`)
      .col-md-6
        h2.h3-black Fellowships
        p Our Fellowships empower bright minds in the fields of public policy, science and journalism. We partner with the world’s leading NGOs. Among them: Citizen Lab, Privacy International, EDRi, Freedom of the Press Foundation, Data & Society and Derechos Digitales.
        ul
          li.mb-3: a.cta-link(href=`${env.virtualRoot}opportunity/fellowships`) Learn more about our Fellowships

    .row.mb-5
      .col-md-6
        h2.h3-black Grants
        p We provide funding to promising people and big ideas. Our grants support gigabit technology laboratories, critical studies in emerging markets and more.
        ul
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/en-US/gigabit/apply`) Apply for Gigabit grant 2017
          li.mb-3: a.cta-link(href=`http://hivechicago.org/portfolio/#/*`) See grant project examples (NYC/Chicago)
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/grant.jpg`)

    .row.mb-5
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/local-organizing.jpg`)
      .col-md-6
        h2.h3-black Local Organizing
        p We connect passionate people in cities across five continents, from technologists in Chattanooga to educators in Cape Town. Our Network provides organizing best-practices and mutual support. In certain cities, our Network can also deploy on-the-ground staff.
        ul
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/gigabit`) Mozilla Gigabit cities
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/en-US/clubs`) Mozilla clubs
          li.mb-3: a.cta-link(href=`https://hivelearningnetworks.org/`) Hive Learning Networks
          li.mb-3: a.cta-link(href=`https://science.mozilla.org/programs/studygroups`) Mozilla Science Study Groups

    .row.mb-5
      .col-md-6
        h2.h3-black Research
        p Building a healthy Internet requires data and insight: We need to know what deserves our attention. Network research investigating issues like the global app economy, digital skills in classrooms and smartphone use in emerging markets
        ul
          li.mb-3: a.cta-link(href=`https://mozilla-foundation-research.herokuapp.com/globalweb/`) See our global research reports
          li.mb-3: a.cta-link(href=`https://internethealthreport.org/`) See the Internet Health Report
          li.mb-3: a.cta-link(href=`http://mozillafoundation.github.io/digital-skills-observatory/`) Read about the Digital Skills Observatory
      .col-md-6
        img.mb-3(src=`${env.virtualRoot}_images/programs/research.jpg`)

    .row.mb-5
      .col-12
        h3.h2-headings-white Themes
        h4.mt-5.h4-light-black.text-center Working toward a healthy internet, many in our network have gathered around 4 themes. Connect directly with these topics and the communities behind them.

    .row.mb-5
      .col-sm-6.col-md-3.px-1.feature-square
        a(href=`https://science.mozilla.org/`)
          img.mb-2(src=`${env.virtualRoot}_images/programs/science.jpg`)
          h4.h4-medium-black Science
      .col-sm-6.col-md-3.px-1.feature-square
        a(href=`https://mozilla.github.io/womenandweb/`)
          img.mb-2(src=`${env.virtualRoot}_images/programs/women-and-web-lit.jpg`)
          h4.h4-medium-black Women & Web Literacy
      .col-sm-6.col-md-3.px-1.feature-square
        a(href=`https://github.com/openiotstudio/general`)
          img.mb-2(src=`${env.virtualRoot}_images/programs/internet-of-things.jpg`)
          h4.h4-medium-black Internet of Things
      .col-sm-6.col-md-3.px-1.feature-square
        a(href=`https://learning.mozilla.org/`)
          img.mb-2(src=`${env.virtualRoot}_images/programs/learning.jpg`)
          h4.h4-medium-black Learning

    include ../partials/contact.pug
