extends ../templates/master.pug

block masterParams
  - let pageTitle = `Upcoming`;

mixin event(meta)
  .row.my-5
    .col-sm-4
      - if(meta.photo)
        img(src=meta.photo)
    .col-sm-8
      - if(meta.start_date && meta.end_date && meta.start_date !== meta.end_date)
        p.h6-gray=`${moment(meta.start_date).format(`MMMM D`)}-${moment(meta.end_date).format(`D, YYYY`)}`
      - else if(meta.start_date)
        p.h6-gray.mt-3.mt-sm-0=moment(meta.start_date).format(`MMMM D, YYYY`)
      - else
        p.h6-gray TBD
      h2.h4-light-black=meta.headline
      p.body-black=meta.description
      a.cta-link(href=meta.link_url)=meta.link_label

block centerNav
  p Upcoming

block heroGuts
  +subpageHero(`Upcoming`, `A snapshot of key milestones on the horizon. Many ways to get involved.`)

block content
  .container
    -
      let futureEvents = data.filter((event) => {
        return event.start_date === null || moment(event.start_date).isAfter(Date.now());
      });

      let pastEvents = data.filter((event) => {
        return moment(event.start_date).isBefore(Date.now());
      });

    each event in futureEvents
      +event(event)
    .row
      .col
        .slanty-background
          h3.h2-headings-white Recent
    each event in pastEvents
      +event(event)
