extends ../templates/master.pug

mixin event(meta)
  .row.my-5
    .col-4
      - if(meta.photo)
        img(src=meta.photo)
    .col-8
      - if(meta.startDate && meta.endDate)
        p.h6-gray=`${moment(meta.startDate).format(`MMMM D`)}-${moment(meta.endDate).format(`D, YYYY`)}`
      - else if(meta.startDate)
        p.h6-gray=moment(meta.startDate).format(`MMMM YYYY`)
      - else
        p.h6-gray TBD
      h2.h4-light-black=meta.headline
      p.body-black=meta.description
      a.cta-link(href=meta.link.url)=meta.link.label

block centerNav
  p Upcoming

block heroGuts
  +subpageHero(`Upcoming`, `A snapshot of key milestones on the horizon. Get involved.`)

block content
  .container
    -
      let futureEvents = data.filter((event) => {
        return event.startDate === null || moment(event.startDate).isAfter(Date.now());
      });

      let pastEvents = data.filter((event) => {
        return moment(event.startDate).isBefore(Date.now());
      });

    each event in futureEvents
      +event(event)
    .row
      h3.h2-headings-white Recent
    each event in pastEvents
      +event(event)
