mixin projects(name, description, url, projectData)
  .row.projects-row.py-5
    .col-12.col-md-6.mb-5
      h2.h3-heading=name
      p.mb-4=description
      a.mb-3.mb-md-0.cta-link(href=`${url}?utm_source=mozillaNetwork&utm_medium=referral`)=`Explore ${name}`
    .col-12.col-md-6
      .row
        each project, index in projectData
          +project(projectData[index])

mixin project(meta)
  .col-sm-12.col-md-6.mb-4.mb-md-0
    a.pulse-project(href=`https://www.mozillapulse.org/entry/${meta.id}?utm_source=mozillaNetwork&utm_medium=referral`)
      img.project-image(src=meta.thumbnail)
      h5.h5-black.my-2=meta.title
    if meta.related_creators.length
      - let creators = []
      each creator in meta.related_creators
        - creators.push(creator.name)
      p.small-gray.my-1=`By ${creators.join(`, `)}`

    p.small-gray=`Added ${moment(meta.created).format('MMM DD, YYYY')}`
