mixin projects(projectData, includeJSON)
  - let json = includeJSON ? projectData : false

  .mb-5.pulse-projects(data-json=json)
    each project, index in projectData
      +project(projectData[index])

mixin project(meta)
  .col-sm-4.mb-3.p-3
    p=meta.title
    p=`By ${meta.creators.join(`, `)}`
    p=meta.description
    a(href=meta.content_url) Read More
